@model PageTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

<div>
  <section class="panel body">
    @Html.Raw(Model.Body)
  </section>
</div>

<!--
  Content Type: Page
  View Location: ~/ContentTypes/Page.cshtml
-->